.StepThree_Ur__Content
    include ../orderingHead
    .StepThree_Ur__StatusBar
    .StepThree_Ur__Wrap
        p.StepTwo_fiz__Head Доставка
            p.StepTwo_fiz__Text Выберите способ получения товара:
            .StepTwo_fiz__ButtonWrap
                button.Button.Button_Color_Red.Button_Size_Lg.StepTwo_fiz__Button
                    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                        | Доставка курьером
                button.Button.Button_Color_Not.Button_Size_Lg.StepTwo_fiz__Button
                    span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
                        span.Button-Icon.Button-Icon_UserRed
                        | Самовывоз

            p.StepTwo_fiz__Text Выберите адрес доставки из уже имеющихся или добавьте новый:
            .StepTwo_fiz__Address
                label.control.control-checkbox(for="OrderAddress1")
                    input.check__form-input--checkbox(type="radio" name="company" id="OrderAddress1")
                    .control_indicator
                    span.check__form-checkbox--information
                        | Город, Улица, д. 1
                label.control.control-checkbox(for="OrderAddress2")
                    input.check__form-input--checkbox(type="radio" name="company" id="OrderAddress2")
                    .control_indicator
                    span.check__form-checkbox--information
                        | Город, Улица, д. 2
                label.control.control-checkbox(for="OrderAddress3")
                    input.check__form-input--checkbox(type="radio" name="company" id="OrderAddress3")
                    .control_indicator
                    span.check__form-checkbox--information
                        | Город, Улица, д. 3
                label.control.control-checkbox(for="OrderAddressNew")
                    input.check__form-input--checkbox(type="radio" name="company" id="OrderAddressNew")
                    .control_indicator
                    span.check__form-checkbox--information
                        | Новая компания


            form.StepTwo_fiz__Form
                .StepTwo_fiz__Form_Location
                    label.StepTwo_fiz__Form-Label(for="orderCity") Ваш город:
                        input.StepTwo_fiz__Form-Input(type="text" name="orderCity" id="orderCity" placeholder="Город")
                    label.StepTwo_fiz__Form-Label(for="orderStreets") Улица:
                        input.StepTwo_fiz__Form-Input(type="text" name="orderStreets" id="orderStreets" placeholder="Улица")
                    .StepTwo_fiz__Form_Apartment
                        label.StepTwo_fiz__Form-Label(for="orderHouse") Дом:
                            input.StepThree_Ur__Form-Input.StepThree_Ur__Form-Input_sm(type="text" name="orderHouse"
                            id="orderHouse" placeholder="Дом")
                        label.StepTwo_fiz__Form-Label(for="orderFlat") Корпус/стр:
                            input.StepThree_Ur__Form-Input.StepThree_Ur__Form-Input_sm(type="text" name="orderFlat"
                            id="orderFlat" placeholder="Корпус")
                        label.StepTwo_fiz__Form-Label(for="orderOffice") Офис:
                            input.StepThree_Ur__Form-Input.StepThree_Ur__Form-Input_sm(type="text" name="orderOffice"
                            id="orderOffice" placeholder="Офис")
                    .StepTwo_fiz__Form_Reserved
                        p.StepTwo_fiz__Form-Label.StepTwo_fiz__Form-Label_text Удобное время получения заказа:
                        .StepTwo_fiz__Form_Reserved-wrapper
                            input.StepTwo_fiz__Form-Input.StepTwo_fiz__Form-Input_sm(type="text" name="orderDate"
                            id="orderDate" placeholder="Дата")
                            input.StepTwo_fiz__Form-Input.StepTwo_fiz__Form-Input_sm(type="text" name="orderTime"
                            id="orderTime" placeholder="Время")
                .StepTwo_fiz__Form_Comment
                    p.StepTwo_fiz__FormText Ваш заказ привезет проверенная нами недорогая курьерская служба в течении 24 ч.
                    label.StepTwo_fiz__Form-Label.StepTwo_fiz__Form-Label_text(for="orderComment") Комментарий:
                        textarea.StepTwo_fiz__Form-TextArea(name="orderComment" id="orderComment")

            .StepTwo_fiz__ButtonAction
                .StepTwo_fiz__Button.StepTwo_fiz__Button_Cancel


                    button.Button.Button_Color_Not.Button_Size_Sm
                        span.Button-Text.Button-Text_Color_Black
                            span.Button-Icon.Button-Icon_Cancel
                            | Отменить заказ

                .StepTwo_fiz__Button

                    button.Button.Button_Color_Not.Button_Size_Sm#ReturnStepTwo_Ur
                        span.Button-Text.Button-Text_Color_Black
                            span.Button-Icon.Button-Icon_ArrowBlackLeft
                            | Вернуться назад

                .StepTwo_fiz__Button

                    button.Button.Button_Color_Red.Button_Size_Sm#StepFour_Ur
                        span.Button-Text.Button-Text_Color_White
                            | Продолжить
                            span.Button-Icon.Button-Icon_ArrowWhiteRight
