.catalog__content-main
    include ../../../Global/ProductData/ProductData
    each item in ProductData
        .product.product_nothover
            .product__main
                .product__tool
                    .product__rib.product__rib_new
                    .product__rib.product__rib_hit
                    .product__rib.product__rib_present
                a(href="prcard_index.html").product__head #{item.name}
                a.product__link(href="prcard_index.html")
                    img.product__image(src=item.image alt="Кресло-кровать для родовспоможения ЫС-М1")
                .product__price
                    p.product__cost #{item.cost}
                        span.product__value &nbsp₽
                    a.product__question(href="#" title="Доп информация").tooltipShow
                    .product__question-window
                        h5.product__question-head Возможные варианты цен на этот товар
                        .product__question-you-price.you-price_color
                            p.product__question-name Ваша цена
                            .product__question-price
                                p.product__question-oldprice 67 640
                                    span.product__question-val &nbsp₽
                                p.product__question-newprice 47 400
                                    span.product__question-val &nbsp₽

                        .product__question-retail-price.retail-price_color
                            p.product__question-name Рек. розничная цена
                            .product__question-price
                                p.product__question-oldprice 67 640
                                    span.product__question-val &nbsp₽
                                p.product__question-newprice 57 400
                                    span.product__question-val &nbsp₽

                        .product__question-income.income_color
                            p.product__question-name Доход
                            .product__question-price
                                p.product__question-newprice 10 000
                                    span.product__question-val &nbsp₽

                        a.product__question-link(href="#") Узнать больше
                            span.button__icon.button__icon_arrow

                p.product__oldcost #{item.oldcost} ₽
                //img.product__rating(src="images/product/rating.png" alt="рейтинг")
            .product__buttonWrapp.product__buttonWrapp_hide
                button.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | В корзину


            .product__asside.product__asside_hide
                a(href="#").product__icon.product__icon_favorite
                a(href="compare.html").product__icon.product__icon_comparis
                a(href="#" data-id="quickview").modalLink.product__icon.product__icon_info
                a(href="#" data-id="Buy").modalLink.product__icon.product__icon_buy
    each item in ProductData
        .product.product_nothover
            .product__main
                .product__tool
                    .product__rib.product__rib_new
                    .product__rib.product__rib_hit
                    .product__rib.product__rib_present
                a(href="prcard_index.html").product__head #{item.name}
                a.product__link(href="prcard_index.html")
                    img.product__image(src=item.image alt="Кресло-кровать для родовспоможения ЫС-М1")
                .product__price
                    p.product__cost #{item.cost}
                        span.product__value &nbsp₽
                    a.product__question(href="#" title="Доп информация").tooltipShow
                    .product__question-window
                        h5.product__question-head Возможные варианты цен на этот товар
                        .product__question-you-price.you-price_color
                            p.product__question-name Ваша цена
                            .product__question-price
                                p.product__question-oldprice 67 640
                                    span.product__question-val &nbsp₽
                                p.product__question-newprice 47 400
                                    span.product__question-val &nbsp₽

                        .product__question-retail-price.retail-price_color
                            p.product__question-name Рек. розничная цена
                            .product__question-price
                                p.product__question-oldprice 67 640
                                    span.product__question-val &nbsp₽
                                p.product__question-newprice 57 400
                                    span.product__question-val &nbsp₽

                        .product__question-income.income_color
                            p.product__question-name Доход
                            .product__question-price
                                p.product__question-newprice 10 000
                                    span.product__question-val &nbsp₽

                        a.product__question-link(href="#") Узнать больше
                            span.button__icon.button__icon_arrow

                p.product__oldcost #{item.oldcost} ₽
                img.product__rating(src="images/product/rating.png" alt="рейтинг")
            .product__buttonWrapp.product__buttonWrapp_hide
                button.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | В корзину


            .product__asside.product__asside_hide
                a(href="#").product__icon.product__icon_favorite
                a(href="compare.html").product__icon.product__icon_comparis
                a(href="#" data-id="quickview").modalLink.product__icon.product__icon_info
                a(href="#" data-id="Buy").modalLink.product__icon.product__icon_buy

//.catalog__content-main
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
