section#product
    .container
        .title-h2
            h2 Популярная продукция
        .product-wrapper
            include ../../../Global/ProductData/ProductData
            each item in ProductData
                .ProductNew
                    .ProductNew-Main
                        .product__tool
                            .product__rib.product__rib_new
                                p NEW
                            .product__rib.product__rib_hit
                                p ХИТ
                            .product__rib.product__rib_present
                                span.Button-Icon.Button-Icon_PresnetWhite-mini
                        a(href="prcard_index.html").product__head #{item.name}
                        a.ProductNew-Link(href="prcard_index.html")
                            img.ProductNew-Image(src=item.image alt=item.name)
                        .ProductNew-Asside
                            a(href="#").ProductNew-Icon.ProductNew-Icon_favorite
                            a(href="#").ProductNew-Icon.ProductNew-Icon_comparis
                            a(href="#").ProductNew-Icon.ProductNew-Icon_info
                            a(href="#").ProductNew-Icon.ProductNew-Icon_buy
                        .ProductNew-Wrap
                            .ProductNew-Price
                                p.ProductNew-Cost #{item.cost}
                                    span.ProductNew-Value &nbsp₽
                                    p.ProductNew-OldCost #{item.oldcost} ₽
                                a.ProductNew-Question(href="#" title="Доп информация").tooltipShow
                                .product__question-window
                                    h5.product__question-head Возможные варианты цен на этот товар
                                    .product__question-you-price.you-price_color
                                        p.product__question-name Ваша цена
                                        .product__question-price
                                            p.product__question-oldprice 67 640
                                                span.product__question-val &nbsp₽
                                            p.product__question-newprice 47 400
                                                span.product__question-val &nbsp₽

                                    .product__question-retail-price.retail-price_color
                                        p.product__question-name Рек. розничная цена
                                        .product__question-price
                                            p.product__question-oldprice 67 640
                                                span.product__question-val &nbsp₽
                                            p.product__question-newprice 57 400
                                                span.product__question-val &nbsp₽

                                    .product__question-income.income_color
                                        p.product__question-name Доход
                                        .product__question-price
                                            p.product__question-newprice 10 000
                                                span.product__question-val &nbsp₽

                                    a.product__question-link(href="#") Узнать больше
                                        span.button__icon.button__icon_arrow
                            button.ProductNew-Button
                                span.ProductNew-ButtonText В корзину
                                i.fa.ProductNew-ButtonIcon

        .product-more
            a(href="catalog_fiz.html").Button.Button_Color_Not.Button_Size_Lg
                span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
                    | Смотреть все
                    span.Button-Icon.Button-Icon_ArrowBlackRight.product-more__button_icon
