.primary-menu__compare.js-dropdown
    .primary-menu__compare_title
        | Всего товаров:&nbsp;
        span#cart-volume
            | 8
        span
            | &nbsp;шт.
    .primary-menu__compare_inner.primary-menu__widget-inner
        include ../../../content/compare/CompareData/CompareData
        each item in CompareData
            .primary-menu__compare_product.primary-menu__widget-item
                .primary-menu__compare_product-col-1
                    .primary-menu__compare_product-image
                        a(href="#")
                            img(src=item.image alt=item.name)
                .primary-menu__compare_product-col-2
                    .primary-menu__compare_product-title
                        a(href="#")
                            | #{item.name}
                    .primary-menu__compare_product-article
                        | Артикул: 165444321894
                    .primary-menu__compare_product-price
                        .primary-menu__compare_product-price_cost
                            | #{item.cost} &#8381;
                        .primary-menu__compare_product-price_oldcost
                            strike
                                | #{item.oldcost} &#8381;
                .primary-menu__compare_delete.primary-menu__widget-delete
        
    .primary-menu__compare_price
        | Итого:&nbsp;
        span.primary-menu__compare_price-number#cart-price
            | 264 218
        span.primary-menu__compare_price-valute
            |&nbsp;&#8381;
    .primary-menu__compare_button
        //a(href="#").primary-menu__compare_button-favorite
            | Перейти в Сравнение
        a(href="/compare.html").home__content_button-buy.Button.Button_Color_Red.Button_Size_Sm
            span.Button-Text.Button-Text_Color_White
                | Сравнить
        //a(href="#").primary-menu__compare_button-order
            | Оформить заказ
        a(href="/orderingStepOne.html").home__content_button-buy.Button.Button_Color_Red.Button_Size_Sm
            span.Button-Text.Button-Text_Color_White
                | Оформить заказ

